* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
    padding: 1rem;
    color: royalblue;
    text-align: center;
}

/* icon with class fas */ 

i.fas {
    display: block;
    text-align: center;
    padding: 1rem;
}

i {
    color: slateblue;
}


/* hover effect */
.fa-globe-europe:hover {
    color: teal;
}

/* alert */

.alert {
    width: 20rem;
    margin: 2rem auto;
    border: 1px solid gray;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.alert-info {
    padding: 12px;
    background-color: rgb(221, 220, 220);
    
}

.fas, .alert-text {
    display: inline-block;
    vertical-align: middle;
}

.alert-text h3 {
    color: indigo;
}

h3 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.fas {
    padding-right: 11px;
    color: salmon;
}

.alert-btn {
    border-top: 1px solid teal;
    padding: 11px;
    background-color:teal;
}

.alert-btn h4 {
    color: black;
}

.new-icons {
    display: inline-block;
    align-items: center;
}

img {
    height: 20rem;
    width: 20rem;

}